.bookValue {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2vh 1vw;
    margin: 0vh 16vw;
    width: 235px;
    width: 275px;
    box-shadow: -1px -1px 4px grey;
    border: lightgray;
    
    .displayGrid {
        border: lightgray;
        box-shadow: -1px -1px 4px gray;
        width: 235px;
        height: 275px;
        border-radius: 4px;

        .onlyImage {
            width: 233px;
            background-color: #f5f5f5;
            height: 175px;
            .image {
                width: 105px;
                height: 135px;
                margin: 2vh 0vw 2vh 3.5vw;
            }
        }
        .title {
            .bookName {
                width: 130px;
                height: 19px;
                font-weight: normal;
                font-size: 18px;
            }
            .authorName {
                width: 63px;
                height: 13px;
                font-size: 15px;
            }
            .bookRating {
                .star {
                    width: 33px;
                    height: 16px;
                    font-size: 12px;
                    background-color: #388e3c;
                }
                .reviewUser {
                    width: 18px;
                    height: 13px;
                    font-size: 12px;
                }
            }
            .mainValue {
                .value {
                    width: 30px;
                    height: 18px;
                    font-size: 15px;
                }
            }
        }
    }
}